<nav id="header">
  <ul>
    <li id="menu-izq">
      <a href="#!" id="logo">appy</a>
      <a href="" id="admin">Admin</a>
      <a href="" class="menu-der"><i class="fas fa-sign-out-alt fa-2x"></i></a>
      <a href="" class="menu-der"><i class="fas fa-cogs fa-2x"></i></a>
      <a href="" class="menu-der"><i class="fas fa-user fa-2x"></i></a>
      <a href="" class="menu-der"><i class="fas fa-bell fa-2x" id="notif"></i></a>
      <p class="menu-der" id="notif-nro">12</p>
    </li>
  </ul>
</nav>
