<footer>
  <a href="#!" class="infoPie">Total Art:</a>
  <a href="#!" class="infoPie">Total Venta: $</a>
  <a href="#!" class="infoPie textMovil"><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto rem ipsum delectus, optio obcaecati ea velit quam.</span></a>
  <a href="" class="menu-der" id="copyrigth">@2019 puntoPix</a>
  <a href="" class="menu-der"><i class="fab fa-forumbee fa-lg"></i></a>
  <a href="" class="menu-der"><i class="fab fa-forumbee fa-lg"></i></a>
  <a href="" class="menu-der"><i class="fab fa-forumbee fa-lg"></i></a>
</footer>
